@charset "utf-8";
/* CSS Document */


h1{margin-left:0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; padding:10; text-align:left}

h2{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#0000FF
}

h3{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#660000
}
table[border="1"] {
border-collapse:collapse;
font:normal 10px Verdana,Arial,Sans-Serif;
color:#333;
margin-left:0px
}

table[border="1"] th, table[border="1"] td {
vertical-align:top;
border:1px solid #cccccc;
}
table[border="1"] tr:nth-child(even) {
background:#eeeeee;
}
table[border="1"] tr:nth-child(odd) {
background:#dddddd;
}
table[border="1"] tr{
height:25px
}

table[border="1"] th {
background:#999999;
color:#fff;
font-weight:bold;
font-size:12px;
vertical-align:middle
}


