body
{
    font-family: "lucida grande", Tahoma, verdana, arial, sans-serif;
    font-size:12px;
    color: #333333;
    margin:0 auto;
    padding:0;
    outline:none;
    line-height:16px;
}
a{
    outline:none;
}
#container
{
    margin:0 auto;
    width:1000px;
}
#header
{
    border:1px solid #D8DFEA;
    border-bottom:none;
	display:none;
}
.logo
{
	position:relative;
    height:70px;
	margin:10px 10px 0 10px;
    background:url('../../back/images/logo.png') no-repeat;
}
.topmenu{
	display:none;
}
#content
{
    margin-top:2px;
    border:1px solid #D8DFEA;
    min-height:400px;
    padding:7px;
    background:#FFF;
}
#form_login
{
    width:300px;
    margin:60px auto;
}
.title
{
    font-size:18px;
    font-weight:bold;
    padding-bottom:7px;
    border-bottom:1px solid #E9E9E9;
    margin-bottom:10px;
    margin-top:10px;
    vertical-align:middle;
}
.the_content
{
    
}
.the_footer
{
    margin-top:10px;
    padding-top:5px;
    border-top:1px solid #E9E9E9;
}
#footer
{
    clear:both;
    width:995px;
    margin:3px auto 20px;
    text-align:left;
    padding:5px 0px 10px;
    color:#777777;
	display:none;
}
.left_footer
{
    float:left;
}
.right_footer
{
    float:right;
}


/****************** TABS ************************/

#upper .tabs
{
    margin-left:230px;
    height:30px;
}
.tab  
{  
    padding: 4px 10px;  
    background-color: #d8dfea;  
    color: #3b5998;  
    font-weight: bold;
    font-size:13px;
    margin-right: .0001px;   
    text-decoration: none;
    white-space:nowrap;
}  
.tab:hover  
{  
    background-color: #3b5998;  
    color: #ffffff;
    cursor:pointer;
    text-decoration: none; 
}
.current_tab{
    background-color: #fff;
    color: #333333;
    padding: 4px 10px;  
    font-weight: bold;
    font-size:13px;
    margin-right: .0001px;  
    text-decoration: none;
    border-top:#D8DFEA solid 1px;
    border-right:#D8DFEA solid 1px;
    border-left:#D8DFEA solid 1px;
    white-space:nowrap;
}

/* TABLE */
.grid tr th
{
    background-color:#d8dfea;
}
.grid tr:nth-child(2n+1)
{
    background-color:#ebf0f5;
}
.grid
{			
    background: #fff;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-bottom: 1px solid #3b5998;
}
.grid th
{
    font-weight: normal;			
    padding: 5px 7px;
    border-bottom: 2px solid #3b5998;
}
.grid td
{
    padding: 3px 7px;
}
.grid tr.bbottom
{
    border-bottom: 1px solid #d8dfea;
}
.grid tr.jumlah
{
    background-color:#d8dfea;
    border-top: 1px solid #3b5998;
    font-weight:bold;
}
.myform td
{
    line-height:20px;
}
.ctable
{
    background: #fff;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout:fixed;
}


/* BUTTON */
.button,.button:hover,.button:focus
{
    background-image:url('../../back/images/buttons.png') ;
    background-repeat: no-repeat;
    display: inline-block;
    height: 105px;
    width: 249px;
    vertical-align:middle;
    width:auto;
    height:auto;
    text-align:center;
}
.mediumbtn
{
    padding:4px 6px;
    font-size:13px;
}
.smallbtn
{
    padding:2px 6px;
    font-size:11px;
}
.buttonblue {
    -moz-box-shadow:0 1px 0 #E5E5E5;
    background-position:0 -48px;
    border-color:#29447E #29447E #1A356E;
    border-style:solid;
    border-width:1px;
    color:#ffffff;
    font-weight:bold;
    text-decoration:none;
}
.buttonblue:active
{
    background:#5B74A8 none;
}
.buttonwhite {
    -moz-box-shadow:0 1px 0 #E5E5E5;
    background-position:0 0px;
    border-color:#999999 #999999 #888888;
    border-style:solid;
    border-width:1px;
    color:#333333;
    font-weight:bold;
    text-decoration:none;
    background-color:#EEEEEE;
}
.buttonwhite:active
{
    background:#EEEEEE none;
}

.buttonhover
{
    background-image:url('../../back/images/buttons.png') ;
    background-repeat: no-repeat;
    background-position:0 192px;
    border:1px solid #FFF;
    padding:2px 6px;
    display: inline-block;
    height: 105px;
    width: 249px;
    vertical-align:middle;
    width:auto;
    height:auto;
    text-align:center;
}
.buttonhover:hover
{
    -moz-box-shadow:0 1px 0 #E5E5E5;
    background-position:0 0px;
    border-color:#999999 #999999 #888888;
    border-style:solid;
    border-width:1px;
    color:#333333;
    text-decoration:none;
    background-color:#EEEEEE;
}

input, textarea, select
{
    font-family: "lucida grande", Tahoma, verdana, arial, sans-serif;
    border:1px solid #BDC7D8;
    font-size:12px;
    padding:3px;
}
textarea
{
    white-space:nowrap;
}
input[type=checkbox]
{
    vertical-align:middle;
}
.date
{
    background:#fff url('../../images/calendar.gif') no-repeat 1px 2px;
	border:none;
    width:20px;
}
.date:hover
{
    cursor:pointer;
}

.a_left
{
    text-align:left;
	vertical-align:top;
}
.a_right
{
    text-align:right;
	vertical-align:top;
}
.a_center
{
    text-align:center;
}
.f_right
{
    float:right;
}
.ajax_loading
{
    text-align:center;
    margin-top:150px;
}
.ajax_loading_small
{
    margin-left:10px;
}
/* SPECIAL */
.small
{
	font-size:10px;
}
.medium
{
	font-size:11px;
}
.semibig
{
	font-size:13px;
}
.bold
{
	font-weight:bold;
}
.dark99
{
	color:#999999;
}
.dark33
{
	color:#333333;
}
.dark77
{
	color:#777777;
}
.darkE9
{
	color:#E9E9E9;
}
.blue98
{
	color:#3B5998;
}
.link1
{
	text-decoration:none;
}
.link1:hover
{
	text-decoration:underline;
}
.clear
{
    clear:both;
}

/* START DATEPICKER */

/* the div that holds the date picker calendar */
.dpDiv {
	}
/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color:#3B5998;
	background-color:#FFFFFF;
	border: 1px solid #D8DFEA;
	}
/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}
/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}
/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}
/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}
/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border-left: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	}
/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #FCC191;
	}
/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #D8DFEA;
	border-left: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	cursor: pointer;
	color: #3B5998;
	}
/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}
/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}
/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}
/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #D8DFEA;
	border: 1px solid #D8DFEA;
	color: #3B5998;
	}
/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 11px;
	color:#325398;
	font-weight: bold;
	}
/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color:#325398;
	background:#FC7304;
	font-weight: bold;
	}
/* the forward/backward buttons at the top */
.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#3B5998;
	background: #D8DFEA;
	padding: 0px;
	border:1px solid #EFEFEF;
	}
/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3B5998;
	background: #D8DFEA;
	border:1px solid #EFEFEF;
	}
/* Selesai DatePicker */
.error{
	font-size:10px;
	color:#FA804B;
}
/* PAGINATION */
div.pagination
{
	display:none;
    padding: 3px;
    margin: 3px;
}

div.pagination a
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
    text-decoration: none; /* no underline */
    color: #000099;
}

div.pagination a:hover, div.pagination a:active
{
    border: 1px solid #000099;
    color: #000;
}

div.pagination a:hover, div.pagination strong
{
    border: 1px solid #000099;
    color: #FFF;
	background-color:#767E93;
	padding:2px 5px 2px 5px;
}

div.pagination span.current
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #993300;
    color: #FFF;
}
div.pagination span.disabled
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}
#link_pagination{
	float:right;
	margin-top:5px;
}
/*PAGINATION SELESAI */

.spasi{
	font-size:9px;
	margin:0 50px 0 25px;
	padding:0;
	float:left;
}
.area{
	border:1px solid #D8DFEA;
	padding:5px;
	margin:5px;
}
.area legend{
	padding:5px;
	margin:5px;
	border:1px solid #D8DFEA;
}
.obj_right{
	float:right;
	margin:5px;
}
.inline{
	border:none;
	border-top:1px solid silver;
	margin:0;
	height:5px;
}
.inline legend{
	margin:0;
	font-weight:bold;
	margin-top:8px;
	margin-left:80px;
	border-left:1px solid silver;
	border-right:1px solid silver;
}
.samar{
	text-decoration:none;
	color:silver;
}
.samar:hover{
	text-decoration:underline;
}
.button-excel{
	border:1px solid #FFFFFF;
	display:block;
	padding:10px 5px 5px 40px;
	margin:5px;
  background:#ffffff url('../../images/button-excel.png') no-repeat 5px 4px;
	height:22px;
	width:auto;
	text-decoration:none;
}
.button-word:hover{
	border:1px solid #D8DFEA;
	color:#161617;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-box-shadow: 0 0 10px #EFEFEF;
	-webkit-box-shadow: 0 0 10px #EFEFEF;
}
.button-word{
	border:1px solid #FFFFFF;
	display:block;
	padding:10px 5px 5px 40px;
	margin:5px;
  background:#ffffff url('../../back/images/button-word.png') no-repeat 5px 4px;
	height:22px;
	width:auto;
	text-decoration:none;
}
.button-excel:hover{
	border:1px solid #D8DFEA;
	color:#161617;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-box-shadow: 0 0 10px #EFEFEF;
	-webkit-box-shadow: 0 0 10px #EFEFEF;
}
.button-pdf{
	border:1px solid #FFFFFF;
	display:block;
	padding:10px 5px 5px 40px;
	margin:5px;
    background:#ffffff url('../../images/button-pdf.png') no-repeat 5px 4px;
	height:22px;
	width:115px;
	text-decoration:none;
	float:right;
}
.button-pdf:hover{
	border:1px solid #D8DFEA;
	color:#161617;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-box-shadow: 0 0 10px #EFEFEF;
	-webkit-box-shadow: 0 0 10px #EFEFEF;
	float:right;
}
.button-print{
	border:1px solid #EFEFEF;
	display:block;
	padding:10px 5px 5px 40px;
	margin:5px;
    background:#ffffff url('../../images/icon-print.png') no-repeat 5px 4px;
	height:22px;
	width:115px;
	text-decoration:none;
	float:right;
}
.button-print:hover{
	border:1px solid #D8DFEA;
	color:#161617;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-box-shadow: 0 0 10px #EFEFEF;
	-webkit-box-shadow: 0 0 10px #EFEFEF;
	float:right;
}
.button-preview{
	border:1px solid #EFEFEF;
	display:block;
	padding:10px 5px 5px 40px;
	margin:5px;
    background:#ffffff url('../../images/icon-preview.png') no-repeat 5px 4px;
	height:22px;
	width:115px;
	text-decoration:none;
	float:left;
}
.button-preview:hover{
	border:1px solid #D8DFEA;
	color:#161617;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-box-shadow: 0 0 10px #EFEFEF;
	-webkit-box-shadow: 0 0 10px #EFEFEF;
	float:left;
}
.clear{ clear:both; }
.cari { visibility:hidden; display:none; }
.aksi{ visibility:hidden; display:none;}
.child-window { visibility:hidden; display:none; }
.panel{ display:none; visibility:hidden; }
.addKat{ visibility:hidden;	display:none; }
.form_area{
	display:none; visibility:hidden;
}
.boxdetail{
	border-left:1px solid silver;
	padding:5px;
	margin:5px;
	width:300px;
	height:400px;
}
.map-name{
	font-size:18px; font-weight:bold;
}
.profil-map{
	margin:90px 5px 5px 5px; text-align:center;
}
.profil-map img{
	margin:-80px 0 0 -40px;
	width:70px; height:70px; position:absolute;
}
.title-map{
	margin-bottom:50px;
}
.map-bottom{
	position:absolute; top:445px; margin-left:80px;
}
.map .title_dis{ font-weight:bold; }
.title-map h1{ font-size:38px; }
hr.garis{ line-height:1px; border-top:1px solid #000000; margin:5px; }
.map{
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
    margin:30px 30px 30px 30px;
    border:1px solid #000000;
    height:420px;
    width:290px;
    padding:7px;
    background:#FFF;
	float:left;
	text-align:center;
}
.map-area{
	width:735px;
	height:500px;
	margin:55px auto;
	text-align:left;
	padding:0px;
	font-family: Verdana, Arial, sans-serif;
}
.title-bukti{
	float:right;
	text-decoration:underline;
	margin:0 10px 0 0;
}
.title_dis{
	/*margin:10px 0 5px 100px;*/
	font-weight:bold;
	font-size:18px;
}
.desc_title_dis{
	/*margin:5px 0 15px 100px;*/
	font-size:12px;
}
.print-memo{ margin:20px auto; font-size:12px; width:100%; }
.print-memo td{
	height:40px; vertical-align:top;
	padding:5px 20px 5px 20px; width:50%;
	line-height:25px; width:auto; 
}
.print-memo th{
	text-align:left; width:auto;
	vertical-align:top;
	padding:10px 20px 20px 20px;
}

.print-keluar{ margin:20px auto; width:100%; padding:10px; font-size:12px; }
.print-keluar td{
	border:1px solid #000000;
	height:40px; vertical-align:top;
	padding:5px 20px 5px 20px; width:50%;
	line-height:25px;
}
.print-keluar th{
	text-align:left;
	vertical-align:top;
	padding:10px 20px 20px 20px;
}
.print-kendalikeluar{ margin:20px auto; width:100%; padding:20px; font-size:12px; }
.print-kendalikeluar td{
	border:1px solid #000000;
	height:40px; vertical-align:top;
	padding:5px 20px 5px 20px; width:33%;
}
.print-grid{
    background: #fff;
    margin: 2px auto;
    width: 99%;
    border-collapse: collapse;
    text-align: left;
    border-bottom: 1px solid #3b5998;
}
.print-grid th{
	font-size:12px;text-align:center;border:1px solid #000000;vertical-align:middle;
	padding:5px;
}
.print-grid td{
	font-size:12px;border:1px solid #000000;vertical-align:middle;
	padding:5px;width:auto;line-height:15px;
}
.print-kendalikeluar th{
	text-align:left;
	vertical-align:top;
	padding:10px 20px 20px 20px;
}
/* TABLE */
.grid tr th
{
    background-color:#d8dfea;
}
.grid tr:nth-child(2n+1)
{
    background-color:#ebf0f5;
}
.grid
{
	font-size:12px;
    background: #fff;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-bottom: 1px solid #3b5998;
}
.grid th
{
    font-weight: bold;
    padding: 5px 7px;
    border-bottom: 2px solid #3b5998;
}
.grid td
{
    padding: 3px 7px;
}
.grid tr.bbottom
{
    border-bottom: 1px solid #d8dfea;
}
.grid tr.jumlah
{
    background-color:#d8dfea;
    border-top: 1px solid #3b5998;
    font-weight:bold;
}
.myform td
{
    line-height:20px;
}
.ctable
{
    background: #fff;
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout:fixed;
}
.foot-ttd{
	float:right; margin:5px 20px 20px 20px;
}
.add-report{
	display:block;
}
.kop{ margin-left:50px; }
.kop_title{ margin-left:50px; font-size:20px; font-weight:bold; padding-left:4px;}
.kop_desc{ margin-left:50px; font-size:12px; font-weight:normal; padding:4px;}
.header-report{
	text-align:center;
	border-bottom:5px double #000000;
}
.header-report .title_dis{
	font-size:20px; text-align:center; line-height:40px;
}
.title{ display:none; }
.header-line{
	border-bottom:5px double #000000;
}


.print-style{
	font-size:12px;
	margin:5px auto;
	border-right:1px solid #000;
	border-top:1px solid #000;
	width:95%;
}
.print-style td{
	vertical-align:top;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
	padding:10px;
}
.label span{
	padding-left:100px;
	width:200px;
	position:inline;
}
.print-style strong{
	float:left;
	position:absolute;
	font-weight:bold;
	min-width:80px;
	padding:1px;
}
.inner{ width:100%; }
.inner td{
	vertical-align:top;
	padding:2px;
	border:none;
}
.th_long{
	height:300px;
	min-height:200px;
	max-height:300px;
}
.word-button{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border:1px solid #BFBFBF; padding:4px 5px 4px 30px;
	float:right; text-decoration:none;
	margin:0 5px 5px 5px; background:url(../../images/icon-print-small.png) 2px no-repeat;
    background:#EFEFEF url('../../back/images/word.png') no-repeat 5px 4px;
}
.word-button:hover{
	color:red;
}
.back-button{ float:right; padding:8px; }
.back-button:hover{ float:right; padding:8px; text-decoration:none; color:red;}
.print-button{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border:1px solid #BFBFBF; padding:4px 5px 4px 40px;
	float:right; text-decoration:none;
	margin:0 5px 5px 5px; background:#FFF url(../../images/icon-print-small.png) 2px no-repeat;
}
.panel-button{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border:1px solid #BFBFBF; padding:4px 5px 4px 5px;
	float:right; margin:0 5px 5px 5px;
	text-decoration:none;
  background:#fff
}
.panel-button:hover{
	color:red; text-decoration:none;
}
.print-panel{
	font-size:11px;
	padding:3px 35px 5px 35px; margin:0px auto; background:#EFEFEF; height:25px;
}
.print-button:hover{
	color:red;background:#33FFFF url(../../images/icon-print-small.png) 2px no-repeat; text-decoration:none;
}
.header-logo img{
	position:absolute;
	left:45px !important;
	margin-top:-10px !important;
	width:80px; height:80px;
}




.head-report{
	border:none;
	width:100%;
	padding:10px;
}
.kop-report{
	text-align:center;
}
.logo-report{
	vertical-align:top;
	width:100px;
}
.set-logo{ margin:2px 2px 10px 2px; }